@model IEnumerable<Journey.BLL.DTO.UserRouteDTO>

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.StartPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Waypoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seats)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Waypoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seats)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
